<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="shortcut icon" href="./images/banco.png" type="image/x-icon">
    <title>HomeBanking | Accounts</title>
</head>

<body>
    <div id="app" class="layout" v-cloak>
        <header class="col-12">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Mindhub-Brothers</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav d-flex align-items-center justify-content-around w-100">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Accounts <i
                                        class="bi bi-person-circle text-white"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./cards.html">Cards <i
                                        class="bi bi-credit-card-2-back text-white"></i></a>
                            </li>
                            <img src="./images/word.png" id="logo" alt="">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Loans <i class="bi bi-currency-dollar text-white"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Transactions <i
                                        class="bi bi-globe-americas text-white"></i></a>
                            </li>
                        </ul>
                        <button class="Btn">
                            <div class="sign"><svg viewBox="0 0 512 512">
                                    <path
                                        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                                    </path>
                                </svg></div>
                            <div class="text">Logout</div>
                        </button>
                    </div>
                </div>
            </nav>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./images/etienne-martin-2_K82gx9Uk8-unsplash.jpg" class="d-block w-100 imgCarousel"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./images/dmitry-demidko-eBWzFKahEaU-unsplash.jpg" class="d-block w-100 imgCarousel"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./images/eduardo-soares-utWyPB8_FU8-unsplash.jpg" class="d-block w-100 imgCarousel"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </header>

        <main class="flex-grow-1 w-100">
            <section class=" d-flex flex-column align-items-center m-5" id="people">
                <img class="imgPeople rounded pt-2" src="./images/gente.jpg" alt="">
                <h2 class="styleText mt-2">Your salary in MB, your way of traveling</h2>
                <h4 class="styleText mt-3"> Collecting your salary at MB, you participate in 10 monthly draws for
                    250,000
                    MB Points to
                    travel.</h4>
            </section>
            <div class="d-flex flex-column align-items-start m-5 flex-wrap sectionAccounts">
                <h1 class="text-center">Welcome, {{clients.firstName}} <i
                        class="bi bi-person-down fs-1 text-center"></i></h1>
                <div class="d-flex flex-row justify-content-center ms-3 me-5 mt-5 gap-5 flex-wrap">
                    <template v-if="accounts.length > 0" v-for="account of accounts">
                        <div data-aos="zoom-out">
                            <div class="plan">
                                <div class="inner d-flex flex-column justify-content-around">
                                    <p class="titleP">Account: {{account.number}}</p>
                                    <p class="infoP fw-bolder">{{clients.firstName}} {{clients.lastName}}</p>
                                    <p class="amountP">Amount: $ {{account.balance.toLocaleString(1)}}</p>
                                    <p class="creationDateP">creation date: {{account.creationDate}}</p>
                                    <div class="action">
                                        <a class="button" :href="'./account.html?id=' + account.id">
                                            Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <section v-if="loans.length > 0" data-aos="zoom-out"
                        class="d-flex flex-column align-items-center mb-5 ms-3">
                        <h2 class="mb-4">These are your loans: <i class="bi bi-cash-coin fs-3 text-center"></i></h2>
                        <table
                            class="table table-primary table-bordered border-black text-center shadow-lg p-3 rounded m-5"
                            id="tableLoans">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Payments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="(loan, index) of loans">
                                    <tr>
                                        <td>{{loan.loanName}}</td>
                                        <td>$ {{loansConvert[index]}}</td>
                                        <td>{{loan.payments}} </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </section>
                    <h2 v-else class="text-center m-5">This account has no loans.</h2>
                </div>
            </div>
            <section class="d-flex flex-column align-items-center justify-content-around" id="turnos">
                <div>
                    <h2 class="text-white text-center mb-4"><i class="bi bi-calendar-date text-white"></i> Request your
                        turn:</h2>
                    <h6 class="text-white text-center">You can request your turn to be attended at branches by entering
                        Online Banking.</h6>
                </div>
                <div class="d-flex gap-5">
                    <button type="button" class="btn btn-outline-light btnturno fw-bold">Take your turn</button>
                    <button type="button" class="btn btn-outline-light btnTurno fw-bold">I do not have access</button>
                </div>
            </section>
            <section class="d-flex gap-5 align-items-center justify-content-center flex-wrap" id="knowMore">
                <img src="./images/customer_comes_first.svg" class="imgKnow" alt="">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2><i class="bi bi-info-square"></i> We want to ensure inclusive and accessible care</h2>
                    <h6>If you need help, go to a branch and request a sign language interpreter to assist you.</h6>
                </div>
                <div class="btn btn-dark d-flex" id="btnKnow">
                    <button type="button" class="btn btn-dark fw-bold">Know more</button>
                </div>
            </section>
        </main>


        <footer class="col-12">
            <div class="d-flex align-items-center justify-content-around">
                <div class="footer-logo">
                    <img src="./images/word.png" alt="Logo del Banco">
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="./manager.html">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Loans</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Branch Offices</a></li>
                        <li><a href="#">Frequent Questions</a></li>
                    </ul>
                </div>
                <div class="footer-contact d-flex flex-column gap-5">
                    <a class="text-decoration-none text-white" href="tel:+1139145523"><i
                            class="bi bi-telephone-forward"></i> Phone: +11-3914-5523</a>
                    <a class="text-decoration-none text-white" href="mailto:gabriel.barberaa@gmail.com"><i
                            class="bi bi-envelope-at"></i> Email:
                        gabriel.barberaa@gmail.com</a>
                    <p><i class="bi bi-geo-alt"></i> Address: Street of Bank, 1234</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>All rights reserved &copy; Bank of Mindhub cohort-49</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./scripts/accounts.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>